# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
bin/
build/
dist/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo

# Django stuff:
*.log
*.pot
media/
db.sqlite3

# Documentation
docs/_build/

# IDE / editor specific
.idea/
.vscode/
.ropeproject/
.project
.pydevproject
.sage.py

# Settings and secrets (use environment variables or other methods instead)
app.yaml
venv
*.sqlite3
*.env
venv
credentials
secretprivatekey.py

# Static files collected
staticfiles/

# Celery beat schedule file
celerybeat-schedule

# Local settings file
local_settings.py

.DS_Store

# Miscellaneous
*.env
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# iOS/Pod related
**/ios/.symlinks/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flutter/assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/

# Android related
**/android/.gradle/
**/android/app/build/
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages